{% extends 'base.html' %}
{% load i18n static %}


{% block page_header %}
{{ form.media }}
<div class="container header-container">
    <div class="row">
        <div class="col">
            {% include 'includes/header.html' %}

        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}

<body class="home-body">

    {% for x in home_page_customisation %}
    <div class="{% if x.do_not_display %}
    do-not-display {% else %} homepage-bg-image h-100 w-100 img-fluid {% endif %}"
        style="background: url({{x.image.url}});"></div>
    {% endfor %}

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">

                {% for x in home_page_customisation  %}
                <h1 class="{% if x.do_not_display %}
                do-not-display {% else %} {{ x.main_page_text_color }} display-4 logo-font {% endif %}">
                    {{ x.main_page_text|safe }}</h1>
                {% endfor %}

                <div class="my-5">
                    <h4>
                        {% for x in home_page_customisation  %}
                        <a href="{% url 'products' %}"
                            class="{% if x.do_not_display %}
                        do-not-display {% else %} shop-now-button btn btn-lg rounded-0 text-uppercase py-3 {{ x.button_background_color }} {% endif %}">
                            <p style="margin: 0 !important;" class="{% if x.do_not_display %}
                            do-not-display {% else %} {{ x.button_text_color }} {% endif %}">{{ x.button_text }}</p>
                        </a>
                        {% endfor %}
                    </h4>
                </div>

            </div>
        </div>
    </div>
</body>
{% endblock content %}