{% load i18n static %}
<div class="related-widget-wrapper">
    {{ rendered_widget }}
    <select name="user_permissions" id="id_user_permissions" multiple="" class="selectfilter" data-field-name="user permissions" data-is-stacked="0">
        <option value="29" selected="">account | email address | Can add email address</option>
      
        <option value="30" selected="">account | email address | Can change email address</option>
      
        <option value="31" selected="">account | email address | Can delete email address</option>
      
        <option value="32" selected="">account | email address | Can view email address</option>
      
        <option value="33" selected="">account | email confirmation | Can add email confirmation</option>
      
        <option value="34" selected="">account | email confirmation | Can change email confirmation</option>
      
        <option value="35" selected="">account | email confirmation | Can delete email confirmation</option>
      
        <option value="36" selected="">account | email confirmation | Can view email confirmation</option>
      
        <option value="1" selected="">admin | log entry | Can add log entry</option>
      
        <option value="2" selected="">admin | log entry | Can change log entry</option>
      
        <option value="3" selected="">admin | log entry | Can delete log entry</option>
      
        <option value="4" selected="">admin | log entry | Can view log entry</option>
      
        <option value="9" selected="">auth | group | Can add group</option>
      
        <option value="10" selected="">auth | group | Can change group</option>
      
        <option value="11" selected="">auth | group | Can delete group</option>
      
        <option value="12" selected="">auth | group | Can view group</option>
      
        <option value="5" selected="">auth | permission | Can add permission</option>
      
        <option value="6" selected="">auth | permission | Can change permission</option>
      
        <option value="7" selected="">auth | permission | Can delete permission</option>
      
        <option value="8" selected="">auth | permission | Can view permission</option>
      
        <option value="13" selected="">auth | user | Can add user</option>
      
        <option value="14" selected="">auth | user | Can change user</option>
      
        <option value="15" selected="">auth | user | Can delete user</option>
      
        <option value="16" selected="">auth | user | Can view user</option>
      
        <option value="57" selected="">checkout | order | Can add order</option>
      
        <option value="58" selected="">checkout | order | Can change order</option>
      
        <option value="59" selected="">checkout | order | Can delete order</option>
      
        <option value="60" selected="">checkout | order | Can view order</option>
      
        <option value="61" selected="">checkout | order line item | Can add order line item</option>
      
        <option value="62" selected="">checkout | order line item | Can change order line item</option>
      
        <option value="63" selected="">checkout | order line item | Can delete order line item</option>
      
        <option value="64" selected="">checkout | order line item | Can view order line item</option>
      
        <option value="17" selected="">contenttypes | content type | Can add content type</option>
      
        <option value="18" selected="">contenttypes | content type | Can change content type</option>
      
        <option value="19" selected="">contenttypes | content type | Can delete content type</option>
      
        <option value="20" selected="">contenttypes | content type | Can view content type</option>
      
        <option value="77" selected="">dashboard | user dashboard module | Can add user dashboard module</option>
      
        <option value="78" selected="">dashboard | user dashboard module | Can change user dashboard module</option>
      
        <option value="79" selected="">dashboard | user dashboard module | Can delete user dashboard module</option>
      
        <option value="80" selected="">dashboard | user dashboard module | Can view user dashboard module</option>
      
        <option value="220">home | home page customisation | Can add home page background image</option>
      
        <option value="224">home | home page customisation | Can add home page customisation</option>
      
        <option value="221">home | home page customisation | Can change home page background image</option>
      
        <option value="225">home | home page customisation | Can change home page customisation</option>
      
        <option value="222">home | home page customisation | Can delete home page background image</option>
      
        <option value="226">home | home page customisation | Can delete home page customisation</option>
      
        <option value="223">home | home page customisation | Can view home page background image</option>
      
        <option value="227">home | home page customisation | Can view home page customisation</option>
      
        <option value="81" selected="">homepagesuperuseradmin | Can add home page superuser admin</option>
      
        <option value="82" selected="">homepagesuperuseradmin | Can change home page superuser admin</option>
      
        <option value="83" selected="">homepagesuperuseradmin | Can delete home page superuser admin</option>
      
        <option value="84" selected="">homepagesuperuseradmin | Can view home page superuser admin</option>
      
        <option value="69" selected="">jet | bookmark | Can add bookmark</option>
      
        <option value="70" selected="">jet | bookmark | Can change bookmark</option>
      
        <option value="71" selected="">jet | bookmark | Can delete bookmark</option>
      
        <option value="72" selected="">jet | bookmark | Can view bookmark</option>
      
        <option value="73" selected="">jet | pinned application | Can add pinned application</option>
      
        <option value="74" selected="">jet | pinned application | Can change pinned application</option>
      
        <option value="75" selected="">jet | pinned application | Can delete pinned application</option>
      
        <option value="76" selected="">jet | pinned application | Can view pinned application</option>
      
        <option value="49" selected="">products | Categories | Can add category</option>
      
        <option value="50" selected="">products | Categories | Can change category</option>
      
        <option value="51" selected="">products | Categories | Can delete category</option>
      
        <option value="52" selected="">products | Categories | Can view category</option>
      
        <option value="53" selected="">products | product | Can add product</option>
      
        <option value="54" selected="">products | product | Can change product</option>
      
        <option value="55" selected="">products | product | Can delete product</option>
      
        <option value="56" selected="">products | product | Can view product</option>
      
        <option value="65" selected="">profiles | user profile | Can add user profile</option>
      
        <option value="66" selected="">profiles | user profile | Can change user profile</option>
      
        <option value="67" selected="">profiles | user profile | Can delete user profile</option>
      
        <option value="68" selected="">profiles | user profile | Can view user profile</option>
      
        <option value="21" selected="">sessions | session | Can add session</option>
      
        <option value="22" selected="">sessions | session | Can change session</option>
      
        <option value="23" selected="">sessions | session | Can delete session</option>
      
        <option value="24" selected="">sessions | session | Can view session</option>
      
        <option value="25" selected="">sites | site | Can add site</option>
      
        <option value="26" selected="">sites | site | Can change site</option>
      
        <option value="27" selected="">sites | site | Can delete site</option>
      
        <option value="28" selected="">sites | site | Can view site</option>
      
        <option value="37" selected="">socialaccount | social account | Can add social account</option>
      
        <option value="38" selected="">socialaccount | social account | Can change social account</option>
      
        <option value="39" selected="">socialaccount | social account | Can delete social account</option>
      
        <option value="40" selected="">socialaccount | social account | Can view social account</option>
      
        <option value="41" selected="">socialaccount | social application | Can add social application</option>
      
        <option value="42" selected="">socialaccount | social application | Can change social application</option>
      
        <option value="43" selected="">socialaccount | social application | Can delete social application</option>
      
        <option value="44" selected="">socialaccount | social application | Can view social application</option>
      
        <option value="45" selected="">socialaccount | social application token | Can add social application token</option>
      
        <option value="46" selected="">socialaccount | social application token | Can change social application token</option>
      
        <option value="47" selected="">socialaccount | social application token | Can delete social application token</option>
      
        <option value="48" selected="">socialaccount | social application token | Can view social application token</option>
      
        <option value="212" selected="">tag | Can add tag</option>
      
        <option value="213" selected="">tag | Can change tag</option>
      
        <option value="214" selected="">tag | Can delete tag</option>
      
        <option value="215" selected="">tag | Can view tag</option>
      
        <option value="216" selected="">taggeditem | Can add tagged item</option>
      
        <option value="217" selected="">taggeditem | Can change tagged item</option>
      
        <option value="218" selected="">taggeditem | Can delete tagged item</option>
      
        <option value="219" selected="">taggeditem | Can view tagged item</option>
      
        <option value="85" selected="">admin | Can access Wagtail admin</option>
      
        <option value="152" selected="">collection | Can add collection</option>
      
        <option value="153" selected="">collection | Can change collection</option>
      
        <option value="154" selected="">collection | Can delete collection</option>
      
        <option value="155" selected="">collection | Can view collection</option>
      
        <option value="160" selected="">collectionviewrestriction | Can add collection view restriction</option>
      
        <option value="161" selected="">collectionviewrestriction | Can change collection view restriction</option>
      
        <option value="162" selected="">collectionviewrestriction | Can delete collection view restriction</option>
      
        <option value="163" selected="">collectionviewrestriction | Can view collection view restriction</option>
      
        <option value="200" selected="">comment | Can add comment</option>
      
        <option value="201" selected="">comment | Can change comment</option>
      
        <option value="202" selected="">comment | Can delete comment</option>
      
        <option value="203" selected="">comment | Can view comment</option>
      
        <option value="204" selected="">commentreply | Can add comment reply</option>
      
        <option value="205" selected="">commentreply | Can change comment reply</option>
      
        <option value="206" selected="">commentreply | Can delete comment reply</option>
      
        <option value="207" selected="">commentreply | Can view comment reply</option>
      
        <option value="176" selected="">groupapprovaltask | Can add Group approval task</option>
      
        <option value="177" selected="">groupapprovaltask | Can change Group approval task</option>
      
        <option value="178" selected="">groupapprovaltask | Can delete Group approval task</option>
      
        <option value="179" selected="">groupapprovaltask | Can view Group approval task</option>
      
        <option value="156" selected="">groupcollectionpermission | Can add group collection permission</option>
      
        <option value="157" selected="">groupcollectionpermission | Can change group collection permission</option>
      
        <option value="158" selected="">groupcollectionpermission | Can delete group collection permission</option>
      
        <option value="159" selected="">groupcollectionpermission | Can view group collection permission</option>
      
        <option value="136" selected="">grouppagepermission | Can add group page permission</option>
      
        <option value="137" selected="">grouppagepermission | Can change group page permission</option>
      
        <option value="138" selected="">grouppagepermission | Can delete group page permission</option>
      
        <option value="139" selected="">grouppagepermission | Can view group page permission</option>
      
        <option value="196" selected="">locale | Can add locale</option>
      
        <option value="197" selected="">locale | Can change locale</option>
      
        <option value="198" selected="">locale | Can delete locale</option>
      
        <option value="199" selected="">locale | Can view locale</option>
      
        <option value="132" selected="">page | Can add page</option>
      
        <option value="133" selected="">page | Can change page</option>
      
        <option value="134" selected="">page | Can delete page</option>
      
        <option value="135" selected="">page | Can view page</option>
      
        <option value="192" selected="">pagelogentry | Can add page log entry</option>
      
        <option value="193" selected="">pagelogentry | Can change page log entry</option>
      
        <option value="194" selected="">pagelogentry | Can delete page log entry</option>
      
        <option value="195" selected="">pagelogentry | Can view page log entry</option>
      
        <option value="140" selected="">pagerevision | Can add page revision</option>
      
        <option value="141" selected="">pagerevision | Can change page revision</option>
      
        <option value="142" selected="">pagerevision | Can delete page revision</option>
      
        <option value="143" selected="">pagerevision | Can view page revision</option>
      
        <option value="208" selected="">pagesubscription | Can add page subscription</option>
      
        <option value="209" selected="">pagesubscription | Can change page subscription</option>
      
        <option value="210" selected="">pagesubscription | Can delete page subscription</option>
      
        <option value="211" selected="">pagesubscription | Can view page subscription</option>
      
        <option value="144" selected="">pageviewrestriction | Can add page view restriction</option>
      
        <option value="145" selected="">pageviewrestriction | Can change page view restriction</option>
      
        <option value="146" selected="">pageviewrestriction | Can delete page view restriction</option>
      
        <option value="147" selected="">pageviewrestriction | Can view page view restriction</option>
      
        <option value="148" selected="">site | Can add site</option>
      
        <option value="149" selected="">site | Can change site</option>
      
        <option value="150" selected="">site | Can delete site</option>
      
        <option value="151" selected="">site | Can view site</option>
      
        <option value="164" selected="">task | Can add task</option>
      
        <option value="165" selected="">task | Can change task</option>
      
        <option value="166" selected="">task | Can delete task</option>
      
        <option value="167" selected="">task | Can view task</option>
      
        <option value="168" selected="">taskstate | Can add Task state</option>
      
        <option value="169" selected="">taskstate | Can change Task state</option>
      
        <option value="170" selected="">taskstate | Can delete Task state</option>
      
        <option value="171" selected="">taskstate | Can view Task state</option>
      
        <option value="172" selected="">workflow | Can add workflow</option>
      
        <option value="173" selected="">workflow | Can change workflow</option>
      
        <option value="174" selected="">workflow | Can delete workflow</option>
      
        <option value="175" selected="">workflow | Can view workflow</option>
      
        <option value="184" selected="">workflowpage | Can add workflow page</option>
      
        <option value="185" selected="">workflowpage | Can change workflow page</option>
      
        <option value="186" selected="">workflowpage | Can delete workflow page</option>
      
        <option value="187" selected="">workflowpage | Can view workflow page</option>
      
        <option value="180" selected="">workflowstate | Can add Workflow state</option>
      
        <option value="181" selected="">workflowstate | Can change Workflow state</option>
      
        <option value="182" selected="">workflowstate | Can delete Workflow state</option>
      
        <option value="183" selected="">workflowstate | Can view Workflow state</option>
      
        <option value="188" selected="">workflowtask | Can add workflow task order</option>
      
        <option value="189" selected="">workflowtask | Can change workflow task order</option>
      
        <option value="190" selected="">workflowtask | Can delete workflow task order</option>
      
        <option value="191" selected="">workflowtask | Can view workflow task order</option>
      
        <option value="86" selected="">document | Can add document</option>
      
        <option value="87" selected="">document | Can change document</option>
      
        <option value="89" selected="">document | Can choose document</option>
      
        <option value="88" selected="">document | Can delete document</option>
      
        <option value="110" selected="">document | Can view document</option>
      
        <option value="111" selected="">uploadeddocument | Can add uploaded document</option>
      
        <option value="112" selected="">uploadeddocument | Can change uploaded document</option>
      
        <option value="113" selected="">uploadeddocument | Can delete uploaded document</option>
      
        <option value="114" selected="">uploadeddocument | Can view uploaded document</option>
      
        <option value="102" selected="">embed | Can add embed</option>
      
        <option value="103" selected="">embed | Can change embed</option>
      
        <option value="104" selected="">embed | Can delete embed</option>
      
        <option value="105" selected="">embed | Can view embed</option>
      
        <option value="94" selected="">formsubmission | Can add form submission</option>
      
        <option value="95" selected="">formsubmission | Can change form submission</option>
      
        <option value="96" selected="">formsubmission | Can delete form submission</option>
      
        <option value="97" selected="">formsubmission | Can view form submission</option>
      
        <option value="90" selected="">image | Can add image</option>
      
        <option value="91" selected="">image | Can change image</option>
      
        <option value="93" selected="">image | Can choose image</option>
      
        <option value="92" selected="">image | Can delete image</option>
      
        <option value="115" selected="">image | Can view image</option>
      
        <option value="116" selected="">rendition | Can add rendition</option>
      
        <option value="117" selected="">rendition | Can change rendition</option>
      
        <option value="118" selected="">rendition | Can delete rendition</option>
      
        <option value="119" selected="">rendition | Can view rendition</option>
      
        <option value="120" selected="">uploadedimage | Can add uploaded image</option>
      
        <option value="121" selected="">uploadedimage | Can change uploaded image</option>
      
        <option value="122" selected="">uploadedimage | Can delete uploaded image</option>
      
        <option value="123" selected="">uploadedimage | Can view uploaded image</option>
      
        <option value="98" selected="">redirect | Can add redirect</option>
      
        <option value="99" selected="">redirect | Can change redirect</option>
      
        <option value="100" selected="">redirect | Can delete redirect</option>
      
        <option value="101" selected="">redirect | Can view redirect</option>
      
        <option value="124" selected="">query | Can add query</option>
      
        <option value="125" selected="">query | Can change query</option>
      
        <option value="126" selected="">query | Can delete query</option>
      
        <option value="127" selected="">query | Can view query</option>
      
        <option value="128" selected="">querydailyhits | Can add Query Daily Hits</option>
      
        <option value="129" selected="">querydailyhits | Can change Query Daily Hits</option>
      
        <option value="130" selected="">querydailyhits | Can delete Query Daily Hits</option>
      
        <option value="131" selected="">querydailyhits | Can view Query Daily Hits</option>
      
        <option value="106" selected="">userprofile | Can add user profile</option>
      
        <option value="107" selected="">userprofile | Can change user profile</option>
      
        <option value="108" selected="">userprofile | Can delete user profile</option>
      
        <option value="109" selected="">userprofile | Can view user profile</option>
      
      </select>
    {% block links %}
        {% spaceless %}
        {% if not is_hidden %}
        {% if can_change_related %}
        <a class="related-widget-wrapper-link change-related" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            title="{% blocktranslate %}Change selected {{ model }}{% endblocktranslate %}">
            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="{% translate 'Change' %}">
        </a>
        {% endif %}
        {% if can_add_related %}
        <a class="related-widget-wrapper-link add-related" id="add_id_{{ name }}"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktranslate %}Add another {{ model }}{% endblocktranslate %}">
            <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% translate 'Add' %}">
        </a>
        {% endif %}
        {% if can_delete_related %}
        <a class="related-widget-wrapper-link delete-related" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            title="{% blocktranslate %}Delete selected {{ model }}{% endblocktranslate %}">
            <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="{% translate 'Delete' %}">
        </a>
        {% endif %}
        {% endif %}
        {% endspaceless %}
    {% endblock %}
</div>
