<div class="col-12 col-lg-4 my-auto py-1 py-lg-0">

    <ul class="list-inline list-unstyled text-center text-lg-right my-0" aria-labelledby="dropdownMenuLink">
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link dropdown-toggle" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="text-center">

                    <div>
                        <!-- <img src="" class="my-account-icon"> -->
                        <i class=" fas fa-user fa-lg " style="color: #000000;">
                        </i>
                    </div>
                    <p class=" my-0 " style="color: #000000 !important;">My
                        Account
                    </p>

                </div>
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="user-options">

                <a href="/admin" class="dropdown-item">Website Admin</a>
                <a href="/products/add/" class="dropdown-item">Product Management</a>
                <a href="/profile/" class="dropdown-item">My Profile</a>
                <a href="/accounts/logout/" class="dropdown-item">Logout</a>

                <a href="/superadmin" class="dropdown-item">
                    <img src="/static/images/superadminicon.png" style="height: 16px !important;">
                    Super Admin</a>


            </div>
        </li>
        <li class="list-inline-item">


            <a class="text-black  text-black nav-link " href="/bag/">
                <div class="text-center">
                    <div>
                        <!-- <img src="" class="shopping-bag-icon"> -->
                        <i class=" fas fa-shopping-bag fa-lg " style="color: #000000;"></i>

                    </div>
                    <p class=" my-0 text-black " style="color: #000000 !important;">

                        £0.00

                    </p>


                </div>
            </a>

        </li>
    </ul>

</div>