<div id="topnav" class=" row pt-lg-2 d-none d-lg-flex " style="background-color: #FFFFFFFF !important;">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="/" class="nav-link main-logo-link">
            <!-- <h2 class="logo-font text-black my-0"><strong>Nue</strong> Store</h2> -->
            <img src="/media/media/nueuiblack_rcXd5WI.png" class=" header-logo ">
            <img src="/media/media/nueuiwhite_wSxpm1j.png" class="
                    do-not-display ">
        </a>
    </div>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="/products/">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q"
                    placeholder="Search our site">
                <div class="input-group-append">

                    <button class=" form-control btn rounded-0 " type="submit" style="background-color: #000000FF;
                                border: 1px solid #FFFFFFFF;">
                        <span class="icon">
                            <i class=" fas fa-search " style="color: #FFFFFFFF;"></i>

                            <button class="
                        do-not-display " type="submit" style="background-color: #FFFFFFFF;
                                border: 1px solid #FFFFFFFF;">
                                <span class="icon">
                                    <i class="
                                do-not-display " style="color: #FFFFFFFF;"></i>

                                </span>
                            </button>
                </div>
            </div>
        </form>
    </div>